<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Victim of Crime</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link href = "../static/css/style.css" rel = "stylesheet">
    </head>
   
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="learn_more">Learn more</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="visualisation">Visualisation</a>
            </li>
          </ul>
          <a class="navbar-brand" href="/">
            <img src="../static/images/map_australia.jpg" width="40" height="40" class="d-inline-block align-top" alt="map of australia in gold">
            <strong>Victim of Crime Analysis in Australia</strong> 
          </a>
        </div>
      </nav>

      <div class="jumbotron rounded-0">

        <div class="container">
          <div class="row">
            <div class="col-dm-12">
        <figure class="figure">
          <img src="../static/images/Sydney.jpeg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption text-center color: text-white"><h1><strong>Is the most popular State in Australia also the safest?</strong></h1></figcaption>
        </figure>
        <br>
        <br>
        <hr>
        <br>
        </div>
      </div>
    </div>
        <div class="container">
          <div class="row">
            <div class="col-dm-12">
              <h1><strong>Australia and State Crime Insights:</strong></h1>
              <br>
              <ol>
                <li>NSW is the crime capital of Australia with the highest amount of crimes in the country.</li>
                <li>NSW ranks the highest in the assault cases followed by WA.</li>
                <li>NSW and Victoria have twice as many robberies compared to WA.</li>
                <li>Females are most likely to be victims of Assault and Sexual Assault in Assault in comparison to Males while Males are most vulnerable to Robberies.</li>
                <li>People between the ages 20-34 and 35-54 are vulnerable to assaults and ages 0-19(our youngest population) are at risk of Sexual assaults.</li>
                <li>49% of all crime has been reported in the Residence whilst 32% is in other locations and only 19% has been reported in the communal areas</li>
                <li>WA has the highest proportion of crimes finalised and closed at 35%.</li>
              </ol>
              <br>
              <br>
              <p class="font-italic">To explore more and in order to see the visualisation for the findings, please click on the button below.</p>
              <br>
              <a class="btn btn-light btn-lg" href="visualisation" role="button">Find Out More</a>
              <br>
              <br>
              <br>
            </div>
         </div>
        </div>
        <hr>

          <div class="container container-bg">
            <div class="row">
                <div class="col-dm-4">
                  <img src="../static/images/coronavirus-tape-barrier-picture-id1213880557-2.jpg" class="img-thumbnail" alt="Coronavirus image" width="450" height="600">
                  <div class="col-dm-8">
                  <div>
                    <h3 id="covid">
                      <strong>Impact of COVID-19 on national recorded crime data</strong>
                    </h3>
                    <br>
                    <p id="p1">
                      From March 2020, Australia’s federal, state and territory governments introduced a variety of measures to slow the spread of Coronavirus (COVID-19). These measures had a subsequent impact on the level of crime recorded by state and territory police during the 2020 reference period.
                    </p>
                    <br>
                    <p>
                      Property crime decreased across all states and territories during 2020, with the largest falls observed nationally between the March and June quarters, when COVID-19 measures first came into effect.
                    </p>
                    <blockquote>
                    <div class="container container-bg">
                      <div class="col-dm-12">
                        <br>
                      <h3>Key statistics</h3>
                      <br>
                      <ul>
                        <li>
                          There was a 23% decrease in unlawful entry with intent and other theft, and a 17% drop in motor vehicle theft from 2019.
                        </li>
                        <li>
                          Coinciding with COVID-19 restrictions, these offences declined to the lowest numbers in over twenty-five years.
                        </li>
                        <li>
                          Family and domestic violence related sexual assault increased 13% from 2019.
                        </li>
                      </ul>
                      <br>
                    </div>
                    </div>
                    <br>
                    <footer class="blockquote-footer">Source: <cite title="Source:">https://www.abs.gov.au/statistics/people/crime-and-justice/recorded-crime-victims/latest-release</cite></footer>
                  </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
  

          <script src="https://d3js.org/d3.v7.min.js"></script>
          <script src="../static/js/predict.js"></script>
    </body>
</html>