<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Victim of Crime</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link href = "../static/css/style.css" rel = "stylesheet">
    </head>
   
    <body background="../static/images/1000x-1.jpg">

            <h1 class="display-4 text-danger">Victim of Crime?</h1>
            <p class="lead text-white font-italic">What is the likelihood of becoming a victim?</p>
            <hr class="my-4">
            <p class="text-white">To find out what the likelihood is of becoming a victim, click on the button below.</p>
            <a class="btn btn-danger btn-lg" href="learn_more" role="button">Learn more</a>
  
            <script src="https://d3js.org/d3.v7.min.js"></script>
            <script src="../static/js/predict.js"></script>
    </body>
</html>